html, body{
    height: 100%;
}

body
{
height:auto !important;
max-width:1000px;
overflow-x: hidden;
margin:0px;
}



/* .id1{ overflow-y: hidden; }  */

a
{
text-decoration:none;
}
/*_________________________________________________________________@media____________________________________________________________________________*/


 @media only screen and (-webkit-min-device-pixel-ratio: 2) 
{ 

.footer
{
top:105em;
}


/* .id1{overflow-y:none;} */


}



/* @media screen and (max-height:640px) { 

.id1{overflow-y:none;}
}

@media screen and (max-height:980px) { 

.id1{overflow-y:none;}
}
 */

/* Проба.Толька для первой страницы сайта */
.goal_index
{
position:absolute;
width:100%;
height:60%;
left:0%;
top:25.3%;
background:#212121;
}

.footer_index
{
position:absolute;
float:left;
width:100%;
height:14.7%;
left:0%;
bottom:0%;
background:#121212;
border-top:1px solid #414243;
}



.image_text p
{
font-size:5vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
text-align:center;
color:#fff !important;
}

.goal_head p
{
font-size:5vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff !important;
}



.goal_text p
{
font-size:2.5vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:rgb(140, 140, 140);
}

.footer_text p
{
font-size:1.25vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
}

.footer_link p 
{
margin:0px;
}

.footer_link p a
{
font-size:1.25vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
}

.menu_forums_left_heads p
{

font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff !important;
text-align:center;
padding: 1.5em 0;
}

.menu_forums_left_text p
{
font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff !important;
text-align:center;
padding: 1.5em 0;
}


.menu_forums_left_page_1  a p
{
font-size:1.5vw;
font-family:'Open Sans Condensed', sans-serif !important;
color:#fff;
text-align:center;
padding: 1em 0.25em;
margin:0px;
}



.menu_forums_left_edit_text input
{
font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:2.5vw 0 2.5vw 0;
padding:0px;
width:100%;
text-align:center;
background:#121212;
border-color:#414243;
color:#fff;

}
	

/*___________________________________________________________________menu_forums_right_tags__________________________________________________________________________*/

.menu_forums_right_head p
{
font-size:1.75vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
text-align: center;
padding: 1.5em 0;
}

.menu_forums_right_news_text_href a p
{
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
padding: 0px;
text-align:center;
}

.menu_forums_right_news_text  p
{
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
padding: 0px;
float:left;
padding:1.5em 1em;
}

.menu_forums_right_news_text_time p
{
font-size:0.75vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:rgb(140, 140, 140);
padding:0px;
text-align:center;
}

.menu_forums_right_news_img  a img
{
width:100%;
height:100%;
}
/*___________________________________________________________________menu_capcion_tags__________________________________________________________________________*/

.menu_capcion_head_active_page p
{
font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
text-align: center;
padding: 1.5em 1.5em;
}

.menu_capcion_head p
{
font-size:1.75vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
text-align: center;
padding: 1.5em 1.5em;
}

.menu_capcion_img a	img
{
width:100%;
height:100%;
}

.menu_capcion_href a p
{
font-weight: bold;
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#000;
text-align:center;
}

.menu_capcion_time p
{
font-size:0.5vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:rgb(140,140,140);
text-align:center;
}

.menu_capcion_text p
{
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#000;
float:left;
padding: 1.5em 0;
}

.menu_capcion_head_text p
{
font-size:4vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#000;
}
/*___________________________________________________________________active_tema_page_1_section_tags__________________________________________________________________________*/
.active_tema_page_1_section_head p
{
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
text-align: center;
padding: 1.5em 1.5em;
}

.active_tema_page_1_section_text p
{
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:rgb(140,140,140);
float:left;
padding:3em 1em;
}

.active_tema_page_1_section_href a p
{
font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
text-align: center;
}
/*___________________________________________________________________read_document_tags__________________________________________________________________________*/

.read_document p
{
font-size:1vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
text-align: left;
}

.read_forums_left_heads p
{

font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff !important;
text-align:center;
padding: 1.5em 0;
}

.read_forums_left_text p
{
font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff !important;
text-align:center;
padding: 1.5em 0;
}


.read_forums_left_page_1  a p
{
font-size:1.5vw;
font-family:'Open Sans Condensed', sans-serif !important;
color:#fff;
text-align:center;
padding: 1em 0.25em;
margin:0px;
}



.read_forums_left_edit_text input
{
font-size:2vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:2.5vw 0 2.5vw 0;
padding:0px;
width:100%;
text-align:center;
background:#121212;
border-color:#414243;
color:#fff;

}

.read_footer_text p
{
font-size:1.25vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:rgb(140,140,140);
}

.read_footer_link p 
{
margin:0px;
}

.read_footer_link p a
{
font-size:1.25vw;
font-family:'Open Sans Condensed', sans-serif !important;
margin:0px;
color:#fff;
}

.read_download  a p
{
font-size:1.25vw;
text-align:center;
font-family:'Open Sans Condensed', sans-serif !important;
margin:2vw 0 2vw 0;
color:#fff;
}


/*___________________________________________________________________panel_button__________________________________________________________________________*/


/*Слои*/
.panel_button
{
position:absolute;
width:100%;
height:5%;
background:#fff;
left:0%;
top:0%;
margin:0 auto;
}

.button_menu
{
position:absolute;
width:60%;
height:100%;
height:100%;
left:20%;
right:20%;
cursor:pointer;
}

.strip /*полоса*/
{
position:absolute;
width:100%;
height:0.3%;
left:0%;
top:5%;
background:black;

}

.active_button_menu
{
position:absolute;
width:60%;
height:100%;
left:20%;
right:20%;
}

.About_the_site_active
{
position:absolute;
left:0%;
height:100%;
width:25%;
background:#b81515;
}

.Tema_active
{
position:absolute;
left:25%;
height:100%;
width:25%;
background:#b81515;
}

.Presentation_active
{
position:absolute;
left:50%;
height:100%;
width:25%;
background:#b81515;
}

.Control_know_active
{
position:absolute;
left:75%;
height:100%;
width:25%;
background:#b81515;
}

.image
{
position:absolute;
width:100%;
height:20%;
left:0%;
top:5.3%;
}

.image_text 
{
position:absolute;
width:100%;
height:20%;
top:30%;
}

/*__________________________________________________________________goal___________________________________________________________________________*/


.goal
{
position:absolute;
width:100%;
height:100vw;
left:0%;
top:5.3%;
background:#212121;
overflow: hidden;
}

.goal_head
{
position:absolute;
width:30%;
height:20%;
top:20%;
left:10%;
}

.goal_text
{
position:absolute;
width:60%;
height:60%;
top:40%;
left:30%;
}

.goal_child
{
position:absolute;
width:100%;
height:100%;
background:#fff;
}

/*_________________________________________________________________footer____________________________________________________________________________*/
.footer
{
position:absolute;
width:100%;
height:6.2vw;
left:0%;
top:105.25vw;
background:#121212;
border-top:1px solid #414243;
}

.footer_text
{
position:absolute;
float:left;
width:60%;
height:60%;
top:40%;
left:30%;
}

.footer_link
{
position:absolute;
float:left;
width:10%;
height:60%;
top:40%;
left:15%;
}

/*_________________________________________________________________menu_forums_left____________________________________________________________________________*/



.menu_forums_left
{
position:absolute;
top:5%;
left:5%;
width:20%;
height:90%;
background:#212121;
}

.menu_forums_left_heads
{
position:absolute;
width:100%;
height:10%;
background:#121212;
}

.menu_forums_left_edit
{
position:absolute;
top:10%;
width:100%;
height:20%;
background:#212121;
border-bottom:1px solid #121212;
}

.menu_forums_left_edit_text
{
position:absolute;
width:100%;
height:40%;
left:0%;
}

.menu_forums_left_text
{
position:absolute;
width:100%;
height:60%;
top:40%;
left:0%;
}

.menu_forums_left_page
{
position:absolute;
width:100%;
height:70%;
top:30%;
left:0%;
}

.menu_forums_left_page_1
{
position:absolute;
width:100%;
height:10%;
border-bottom:1px solid #414243;
}

.menu_forums_left_page_1:hover
{
background:rgb(184,21,21);
}
/*________________________________________________________________menu_forums_right_____________________________________________________________________________*/


.menu_forums_right
{
position:absolute;
top:5%;
left:75%;
width:20%;
height:90%;
background:#212121;
}

.menu_forums_right_head
{
position:absolute;
width:100%;
height:10%;
background:#121212;
}


.menu_forums_right_news
{
position:absolute;
width:100%;
height:20%;
border-bottom:1px solid #414243;
}

.menu_forums_right_news_img
{
position:absolute;
top:10%;
left:5%;
width:45%;
height:50%;
}



.menu_forums_right_news_text
{
position:absolute;
width:100%;
top:60%;
height:40%;
}

.menu_forums_right_news_text_href
{
position:absolute;
width:50%;
left:50%;
top:10%;	
height:50%;
}

.menu_forums_right_news_text_time
{
position:absolute;
width:50%;
left:50%;	
height:10%;
}
/*___________________________________________________________________menu_capcion__________________________________________________________________________*/


.menu_capcion
{
position:absolute;
top:5%;
left:30%;
width:40%;
height:90%;
background:#fff;
}	



.menu_capcion_news_public
{
position:absolute;
left:0%;
width:47.5%;
height:30%;
border-bottom:0.25vw solid #eee;
}

.menu_capcion_head	
{
position:absolute;
width:100%;
height:10%;
background:#121212;
}

.menu_capcion_head_active_page
{
position:absolute;
width:100%;
height:10%;
background:#121212;
}	

.menu_capcion_news
{
position:absolute;
top:10%;
left:0%;
width:100%;
height:90%;
}

.menu_capcion_img	
{
position:absolute;
top:10%;
left:0%;
width:50%;
height:50%;
}

.menu_capcion_href
{
position:absolute;
width:50%;
height:40%;
top:10%;
left:50%;
}

.menu_capcion_text
{
position:absolute;
width:100%;
height:40%;
top:60%;
left:0%;
}

.menu_capcion_time
{
position:absolute;
width:50%;
height:5%;
top:5%;
left:50%;
}

.image img
{
width:100%;
height:100%;
}
/*___________________________________________________________________active_tema_page_1__________________________________________________________________________*/
.active_tema_page_1
{
position:absolute;
top:10%;
height:90%;
width:100%;
background:#212121;
}

.active_tema_page_1_section
{
position:absolute;
height:20%;
width:100%;
}

.active_tema_page_1_section_head
{
position:absolute;
height:20%;
width:100%;
}

.active_tema_page_1_section_text
{
position:absolute;
top:30%;
height:50%;
width:100%;
}

.active_tema_page_1_section_href
{
position:absolute;
top:85%;
height:20%;
width:100%;
border-bottom:1px solid #121212;
}

.active_tema_page_1_section_href:hover a p
{
color:#b81515;
/*transition:3s;*/
}



/*___________________________________________________________________button_menu input__________________________________________________________________________*/


/*Кнопки*/
.button_menu input
{
position:absolute;
width:25%;
height:100%;
border:0px;
border-left:0.25vw solid #e8e8e8;
background:white;
padding:0%;
font-size:1.5vw;
font-family:'Open Sans Condensed', sans-serif;

}

.button_menu input:hover
{
position:absolute;
width:25%;
height:100%;
background:#333;
/* transition:3s; */
color:rgb(243, 243, 243);
-webkit-font-smoothing:antialiased;
cursor:pointer;
}

/* .button_menu input:not(:hover)
{
transition:3s;

} */

/*___________________________________________________________________read_document__________________________________________________________________________*/

.read_document
{
position:relative;
margin:5vw 2vw;
left:26%;
width:65%;
}


.read_document_text
{
width:100%;
height:100%;
background:#fff;
}

.read_forums_left
{
position:absolute;
top:5%;
width:100%;
height:90%;
background:#212121;
}

.read_forums_left_heads
{
position:absolute;
width:100%;
height:10%;
background:#121212;
}

.read_forums_left_edit
{
position:absolute;
top:10%;
width:100%;
height:20%;
background:#212121;
border-bottom:1px solid #121212;
}

.read_forums_left_edit_text
{
position:absolute;
width:100%;
height:40%;
left:0%;
}

.read_forums_left_text
{
position:absolute;
width:100%;
height:60%;
top:40%;
left:0%;
}

.read_forums_left_page
{
position:absolute;
width:100%;
height:70%;
top:30%;
left:0%;
}

.read_forums_left_page_1
{
position:absolute;
width:100%;
height:10%;
border-bottom:1px solid #414243;
}

.read_forums_left_page_1:hover
{
background:#b81515;
}

.read_middle
{
position:absolute;
min-height:45vw;
width:100%;
top:6%;
}

.read_goal
{
position:absolute;
width:20vw;
height:90vw;
left:5%;
}

.read_goal_head
{
position:absolute;
width:30%;
height:20%;
top:20%;
left:10%;
}

.read_goal_text
{
position:absolute;
width:60%;
height:60%;
top:40%;
left:30%;
}

.read_goal_child
{
position:absolute;
width:100%;
height:100%;
}


.read_download
{
position:absolute;
float:left;
width:100%;
height:15vw;
left:0%;
bottom:-15vw;
background:#121212;
border-top:1px solid #414243;
}

.read_footer
{
position:absolute;
float:left;
width:100%;
height:10vw;
left:0%;
bottom:-25vw;
background:#fff;
border-top:1px solid #414243;
}

.read_footer_text
{
position:absolute;
float:left;
width:60%;
height:60%;
top:40%;
left:30%;
}

.read_footer_link
{
position:absolute;
float:left;
width:10%;
height:60%;
top:40%;
left:15%;
}

/*_________________________________________________________________read_download____________________________________________________________________________*/

.active_download_file
{
position:absolute;
width:100%;
height:100%;
background:#121212;
}

.active_download_file:hover
{
background:#1C61B9;
}


.download_file
{
position:absolute;
width:20%;
height:6vw;
left:10%;
margin-top:3vw;
border:1vw solid rgba(255, 255, 255, 0.25);
}

.active_presentation
{
position:absolute;
width:100%;
height:100%;
background:#121212;
}

.active_presentation:hover
{
background:#08c;
}


.href_presentation
{
position:absolute;
width:20%;
height:6vw;
left:40%;
background:#121212;
margin-top:3vw;
border:1vw solid rgba(255, 255, 255, 0.25);
}

.active_knowledge
{
position:absolute;
width:100%;
height:100%;
background:#121212;
}

.active_knowledge:hover
{
background:#087975;
}



.href_knowledge
{
position:absolute;
width:20%;
height:6vw;
left:70%;
background:#121212;
margin-top:3vw;
border:1vw solid rgba(255, 255, 255, 0.25);
}

/*_________________________________________________________________new_read_goal_child____________________________________________________________________________*/
.new_read_goal_child
{
position:absolute;
top:7vw;
background-color:#212121;
height:20vw;
width:100%;
}

.up
{
position:absolute;
right:0%;
top:0%;
height:100%;
width:7%;
cursor:pointer;
display:none;
}

.up:hover
{
background-color:rgba(69, 104, 142, 0.15);
}

.now_scroll p
{
font-size:1vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
font-weight:bold;
text-align:center;
margin:1vw 0vw;
color:rgba(69, 104, 142,0.7) !important;
}

.now_scroll
{
width:100%;
height:5vw;
}


.heads
{
position:absolute;
width:20%;
height:100%;
left:5%;
}

.heads_block
{
position:absolute;
padding:2vw 0vw;
width:100%;
height:50vw;
}

.heads_name
{
position:absolute;
width:100%;
height:5vw;
background-color:#121212;
}

.heads_name p
{
font-size:2vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
font-weight:bold;
text-align:center;
margin:1vw 0vw;
color:#fff!important;
}

.heads_search
{
position:absolute;
width:100%;
top:5vw;
height:5vw;
background-color:#121212;
}


.heads_search form{
position:absolute;
width:100%;
height:100%;
margin:0vw;

}
.search
{ 
padding:0.75vw 3vw;
background: url('/Image/search.png') no-repeat 1vw 1vw; 
}

.heads_search input[type=text]{
position:absolute;
width:70%;
left:0vw;
top:10%;
font-size:1vw;
color:#505358;
border:0.1vw solid #2a2e31;
background-color:#2d3035;
}
 
.heads_search input[type=button], .heads_search input[type=button]:hover {
position:absolute; 
font-size:1vw;
top:10%;
left:71%;
height:2.7vw;
width:28%;
border:0vw;
background-color: #2d3035;
color:#fff;
cursor: pointer;
}


.heads_table_and_heads_buttom_up
{
position:absolute;
width:100%;
height:35vw;
top:10vw;
z-index:0;
}



.heads_buttom
{
position:absolute;
top:10vw;
height:5vw;
width:100%;
background-color:#121212;
border-top:1px solid #414243;
cursor: pointer;
z-index:1;
}

.heads_buttom:hover
{
background-color:rgb(184,21,21);
}

.heads_buttom img
{
position:absolute;
height:100%;
width:40%;
}

/*rgb(184,21,21)*/
.heads_buttom p
{
position:absolute;
height:40%;
width:60%;
left:40%;
font-size:1.5vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
text-align:center;
color:#fff!important;
}

.heads_buttom_up
{
position:absolute;
top:35vw;
height:5vw;
width:100%;
background-color:#121212;
cursor: pointer;

}

.heads_buttom_up:hover
{
background-color:rgb(184,21,21);
}

.heads_buttom_size 
{
position:absolute;
height:100%;
width:60%;
left:20%;

}

.heads_buttom_up img
{
position:absolute;
height:100%;
width:40%;
}

/*rgb(184,21,21)*/
.heads_buttom_up p
{
position:absolute;
height:40%;
width:60%;
left:40%;
font-size:1.5vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
text-align:center;
color:#fff!important;
}

/*_________________________________________________________________table____________________________________________________________________________*/

.heads_table
{
position:absolute;
height:35vw;
width:100%;
background-color:#212121;
border-top:0.1vw solid #414243;
overflow-y:scroll;
overflow-x:hidden;
}	

 ::-webkit-scrollbar{
    width:1vw;
}

 ::-webkit-scrollbar-thumb{
    border-width:0.1vw 0.1vw 0.1vw 0.5vw;
    border-color: #777;
    background-color: #aaa;
}

 ::-webkit-scrollbar-thumb:hover{
    border-width:0.1vw 0.1vw 0.1vw 0.5vw;
    border-color: #555;
    background-color: #777;
}

 ul#menu1
{
 position:absolute;
 cursor:pointer;
 z-index:0
}

 ul#menu1, ul#menu1 ul {
  list-style-type:none;
  background-color:#212121;
  margin: 0vw;
  padding: 0vw;
  width: 100%; 
}

ul#menu1 a,ul#menu1 span 
{ 
display: block; 
text-decoration: none;
font-size:1.5vw;
font-family:'Open Sans Condensed', sans-serif;
text-align:left;

}

ul#menu1 li a,ul#menu1 li span {
  background: #212121;
  height:4vw;
  border:0.1vw  solid #414243;
  
}

.span_table 
{
position:relative;
top:0vw;
height:100%;
width:100%;
}

.text_table 
{
position:absolute;
top:0vw;
height:100%;
width:80%;
}

ul#menu1 li a,ul#menu1 li span .href_table a 
{
  padding:0vw;
  margin:0vw;
  background:url('/Image/href_page.png') no-repeat  0.5vw ; 
  border:0vw;  
}

.href_table 
{
position:absolute;
top:0vw;
left:80%;
height:100%;
width:20%;
}

ul#menu1 li a,ul#menu1 li span .text_table p 
{
  color:#fff;
  text-align:left;
  padding:0vw;
  margin:0vw;
  padding: 1vw 1vw 1vw 2vw;
}



ul#menu1 li a:hover,ul#menu1 li span:hover 
{
background-color: rgb(184,21,21); 
}

ul#menu1 li ul li a {
  font-size:1vw;
  background:none;
  background-color: #121212;

  color:#fff;
  padding-left: 20px;
  padding: 0vw 1vw 0vw 4vw;
  font-size:1.25vw;
  font-family:'Open Sans Condensed', sans-serif;
}

ul#menu1 li ul li a  p 
{
  color:#fff;
  text-align:left;
  padding:0vw;
  margin:0vw;
  padding: 1.5vw 1vw 1.25vw 2vw;
}

ul#menu1 li ul li a:hover {
  font-family:'Open Sans Condensed', sans-serif;
  font-size:1.25vw;
  background: #AAAAAA;
  background-color: rgb(184,21,21);
  color:#fff;
/*  border-left: 0.5em rgb(184,21,21) solid;*/
  padding: 0vw 1vw 0vw 4vw;
} 


/*_________________________________________________________________heads_left____________________________________________________________________________*/

.heads_left
{
position:absolute;
width:20%;
top:5%;
height:80%;
left:5%;
}

.heads_left_block
{
position:absolute;
width:100%;
height:50vw;
}

.heads_left_name
{
position:absolute;
width:100%;
height:5vw;
background-color:#121212;
}

.heads_left_name p
{
font-size:2vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
font-weight:bold;
text-align:center;
margin:1vw 0vw;
color:#fff!important;
}

.heads_left_search
{
position:absolute;
width:100%;
top:5vw;
height:5vw;
background-color:#121212;
}


.heads_left_search form{
position:absolute;
width:100%;
height:100%;
margin:0vw;

}
.search_left
{ 
padding:0.75vw 3vw;
background: url('/Image/search.png') no-repeat 1vw 1vw; 
}

.heads_left_search input[type=text]{
position:absolute;
width:70%;
left:0vw;
top:10%;
font-size:1vw;
color:#505358;
border:0.1vw solid #2a2e31;
background-color:#2d3035;
}
 
.heads_left_search input[type=button], .heads_left_search input[type=button]:hover {
position:absolute; 
font-size:1vw;
top:10%;
left:71%;
height:2.7vw;
width:28%;
border:0vw;
background-color: #2d3035;
color:#fff;
cursor: pointer;
}


.heads_left_table_and_heads_left_buttom_up
{
position:absolute;
width:100%;
height:35vw;
top:10vw;
z-index:0;
}



.heads_left_buttom
{
position:absolute;
top:10vw;
height:5vw;
width:100%;
background-color:#121212;
border-top:1px solid #414243;
cursor: pointer;
z-index:1;
}

.heads_left_buttom:hover
{
background-color:rgb(184,21,21);
}

.heads_left_buttom img
{
position:absolute;
height:100%;
width:40%;
}

/*rgb(184,21,21)*/
.heads_left_buttom p
{
position:absolute;
height:40%;
width:60%;
left:40%;
font-size:1.5vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
text-align:center;
color:#fff!important;
}

.heads_left_buttom_up
{
position:absolute;
top:35vw;
height:5vw;
width:100%;
background-color:#121212;
cursor: pointer;

}

.heads_left_buttom_up:hover
{
background-color:rgb(184,21,21);
}

.heads_left_buttom_size 
{
position:absolute;
height:100%;
width:60%;
left:20%;

}

.heads_left_buttom_up img
{
position:absolute;
height:100%;
width:40%;
}

/*rgb(184,21,21)*/
.heads_left_buttom_up p
{
position:absolute;
height:40%;
width:60%;
left:40%;
font-size:1.5vw;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
text-align:center;
color:#fff!important;
}

/*_________________________________________________________________table____________________________________________________________________________*/

.heads_left_table
{
position:absolute;
height:35vw;
width:100%;
background-color:#212121;
border-top:0.1vw solid #414243;
overflow-y:scroll;
overflow-x:hidden;
}	

/*_________________________________________________________________Панель кнопок____________________________________________________________________________*/







#About_the_site
{
left:0%;
}

#Tema
{
left:25%;
}

#Presentation
{
left:50%;
}

#Control_know
{
border-right:0.25vw solid #e8e8e8;
left:75%;
}
/*_____________________________________________________________________________________________________________________________________________*/

#one
{

top:0%;
}

#two
{
top:10%;
}

#three
{
top:20%;
}

#four
{
top:30%;
}

#five
{
top:40%;
}

#sixe
{
top:50%;
}
/*_________________________________________________________________menu_forums_right____________________________________________________________________________*/


#menu_forums_right_news_1
{
top:12.5%;
}

#menu_forums_right_news_2
{
top:35%;
}

#menu_forums_right_news_3
{
top:57.5%;	
}

#menu_forums_right_news_4
{
top:80%;
}

/*_________________________________________________________________________active_tema_page____________________________________________________________________*/

#active_tema_page_1_section_1
{
top:0%;
}

#active_tema_page_1_section_2
{
top:25%;
}

#active_tema_page_1_section_3
{
top:50%;
}

#active_tema_page_1_section_4
{
top:75%;
}
/*________________________________________________________________capcion_news_public_____________________________________________________________________________*/
#menu_capcion_news_public_1
{
top:5%;
}

#menu_capcion_news_public_2
{
left:52.5%;
top:5%;
}

#menu_capcion_news_public_3
{
top:35%;
}

#menu_capcion_news_public_4
{
left:52.5%;
top:35%;
}

#menu_capcion_news_public_5
{
top:65%;
}

#menu_capcion_news_public_6
{
left:52.5%;
top:65%;
}